<% include ../header %>
<div class='col-2 history d-none d-sm-block d-md-block'>
<p class='historique'>Notification</p>
	<% if (locals.notif) {locals.notif.forEach(function(tmp) {%>
		<div class='hist_action'>
			<a href='/user?id=<%=tmp.notifieur%>'><%= tmp.login%></a> : <%= tmp.action %> le <%= tmp.heure %>
		</div>
	<% })} %>
</div>
<% include ../footer %>
