<% include ../header %>
<form class='containers offset-1 col-10' method='post' action='/forgot'>
  <div class="form-row">
    <div class="form-group offset-md-3 col-md-6">
      <label for='fmail'>Reinitialiser votre mot de passe</label>
      <input type="mail" class="form-control" id='fmail' name='fmail' placeholder="Email" value=''>
    </div>
  </div>
  <button type="submit" class="btn btn-primary offset-md-3 ">Envoyer</button>
</form>
<% include ../footer %>
