html {
position: relative;
		  min-height: 100%;
}

body {
	margin-bottom: 60px;
	background-color: #e3f2fd;
background: url(upload/connect.jpg) no-repeat center fixed;
			-webkit-background-size: cover;
			background-size: cover;
			z-index:1;
}

.footer {
	z-index:1;
text-align:center;
position: absolute;
bottom: 0;
width:100%;
height:60px;
}

.hfcolor {
	background-color: rgba(160, 211, 248, 0.93);
}

.containers {
	padding-top:10px;
	padding-bottom:20px;
}

form {
	background-color: rgba(160, 211, 248, 0.6);
	border-radius: 10px 10px 10px 10px;
}

.accueil {
	background-color: rgba(160, 211, 248, 0.6);
	border-radius: 10px 10px 10px 10px;
}

.btn-file {
position: relative;
overflow: hidden;
}

.btn-file input[type=file] {
position: absolute;
top: 0;
right: 0;
	   min-width: 100%;
	   min-height: 100%;
	   font-size: 100px;
	   text-align: right;
filter: alpha(opacity=0);
opacity: 0;
outline: none;
background: white;
cursor: inherit;
display: block;
}

.chatlogin {
	width:100%;
	height:6%;
	background-color: rgb(51, 153, 255);
	border-radius: 10px 10px 1px 1px;
	border-width:2px !important;
	border-color:black !important;
}
.icons {
	width: 15px;
	padding-right:5px;
}

.profil {
	height: 170px;
	max-width:170px;
}

button {
	margin:5px;
}

.history {
	padding-top:10px;
	background-color: rgba(230, 242, 255, 0.6);
	word-wrap: break-word;
	max-height:1000px;
	overflow:auto;
}

.hist_action {
	background-color: rgba(160, 211, 248, 0.6);
	word-wrap: break-word;
	border-radius: 10px 10px 10px 10px;
	padding:5px;
	margin:5px;

}

.titre {
	text-align:center;
	color: rgb(102, 140, 255);
	font-size:30px;
	font-style: oblique;
	text-decoration: underline;
}

.historique {
	text-align:center;
	color: rgb(102, 140, 255);
	font-size:15px;
	font-style: oblique;
	text-decoration: underline;
}

.fiche {
	padding:10px;
	margin-top:10px;
	border-radius: 10px 10px 10px 10px;
	width:190px;
	background-color: rgba(51, 153, 255, 0.6);

}

.user {
	padding:10px;
	margin-top:10px;
	border-radius: 10px 10px 10px 10px;
	background-color: rgba(51, 153, 255, 0.6);
}

.bio {
	padding:10px;
	margin:5px;
	border-radius: 10px 10px 10px 10px;
	background-color: rgba(160, 211, 248, 0.6);
}

#zonetmpnotif {
	position:fixed;
	top: 50px;
	right:15px;
}

#tmpnotif {
	padding:10px;
	margin:5px;
	font-style: oblique;
	width:350px;
	text-align:center;
	border-radius: 10px 10px 10px 10px;
	background-color: rgba(0, 204, 0, 0.2);
}

#ichat {
	position:fixed;
	bottom: 0px;
	right:5px;
	width:300px;
	height:450px;
	z-index:10;
}

#icorp {
	background-color: rgba(160, 211, 248, 0.6);
	height:94%;
	border-width:2px !important;
	border-color:black !important;
}

.fixbot {
	position:absolute;
	bottom:0px;
}


.chatsend {
	width:100%;
	background-color: rgb(51, 153, 255);
}

#message {
	height:350px;%;
	overflow:auto;
}

.messagelogin {
	color: rgb(204, 0, 0);
	font-weight: bold;
}


.messagecontent {
	color: rgb(204, 0, 0);
	font-style:italic ;
}

.Vous {
	color: rgb(0, 0, 255);
}

#ichats {
	width:30%;
}

#m {
	margin-left:2px;
	width:65%;
}

#popu {
	width: 50px;
	height: 44px;
	text-shadow: white 0px 0px 2px;
	font-size: 16px;
	background-size: 100%;
	background-image: url(pop.png);
	text-align: center;
	padding-top:3px;
}

.usercenter {
	width:400px;
	margin:auto;
}

@media screen and (max-width: 450px) {
	.usercenter {
		width:100%;
	}
}

.closec {
	width;9%;
	text-align:right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
}

.chatlogintxt {
	width:91%;
	text-align:center;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

