<% include ../header %>

<div class='col-2 history d-none d-sm-block d-md-block'>
<p class='historique'>Utilisateur bloque</p>
	<% if (locals.blist) {locals.blist.forEach(function(tmp) {%>
		<div class='hist_action'>
			<a href='/dellblist/<%= tmp.id_bloque%>'>Debloquer <%= tmp.login%></a>
		</div>
	<% })} %>
</div>

<% include ../footer %>
