<% include header %>
<div class=' accueil containers offset-1 col-10' method='post' action='/login' >
	<div class="row">
		<div class="offset-md-2 col-md-8">
			<h3>Trouvez la personne qui vous correspond.</h3>
		</div>
	</div>
    <div class="row">
		<div class="offset-md-2 col-md-8">
			<h4>Avec Matcha .</h4>
		</div>
	</div>
	<div class="row">
		<div class="offset-1 col-7">
			<a href='/create'><button class="btn btn-primary">Inscription</button></a>
		</div>
		<div class="col-3">
			<a href='/login'><button class="btn btn-primary">Connexion</button></a>
		</div>
	</div>
</div>
<% include footer %>
